
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,400;0,700;1,100&family=Source+Sans+Pro&display=swap');

.App {
  background-color: #182734;
  display: flex;
  justify-content: center;
}

:root {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  color: #363b9d;
  font-size: 25px;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #49708f85;
}

.detail:nth-child(odd) {
  background-color: #bfbfbf3f;
}
